/* Variables  */
:root {
    --clr-dark: #11212D;
    --clr-light: #FAFAFA;
    --clr-grey: #808080;
    --clr-green: #28bb11;
    --clr-txt: #253542;
    --clr-higlight: #1e88e5;

    --br-1: 15px;
    --br-2: 50%;

    --border-1: 1px solid rgba(128, 128, 128, 0.233);
    --bx-1: 1px 1px 15px 0 rgba(128, 128, 128, 0.205);
    --bx-2: 2px 2px 5px 0 rgba(128, 128, 128, 0.205);

    --h1-dt: 40px;
    --h1-mobile:30px;
    --h2-sect: 24px;
    --h3-proj: 16px;
    --p-1: 14px;
    --p-2: 12px;

    --font-size: 16px;
    --spacing: 10px;

    --gap: 20px;
}

*{
    transition: all 0.15s ease-in;
}

html{
    position: relative;
}
  
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: var(--p-1);
    background-color: var(--clr-light);
    color: var(--clr-dark);
    max-width: 1440px;
    margin: 0 auto;
    border-left: var(--border-1);
    border-right: var(--border-1);
}


h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: var(--h1-dt);
    line-height: 1.3;
}

/* DEFAULTS =============================*/
.thin{
    font-weight: 300;
}

.section-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--h2-sect);
}

.project-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--h3-proj);
}

.article-title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.sub-text{
    font-size: var(--p-2);
}

main,
section,
footer{
    max-width: 1216px;
    min-width: 320px;
    padding: 0.5rem 1.3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

main,
section{
    min-height: 50vh;
    place-content: center;
}

/* END DEFAULTS =============================*/

/* nav ====================== */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-1);

    min-width: 320px;
    padding: 0.5rem 1.3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.name{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

.nav-icon{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--clr-light);
    box-shadow: var(--bx-1);
}

.available{
    color: var(--clr-green);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid var(--clr-green);
}

.home-btn{
    color: var(--clr-dark);
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid var(--clr-dark);
    transition: all 0.25s ease;
}

.home-btn:hover{
    cursor: pointer;
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

@keyframes light {
    0%, 100% {
        background: radial-gradient(rgb(70, 240, 70), var(--clr-green));
        /* box-shadow: 0 0 5px 0 var(--clr-green); */
    }
    50%{
        background: radial-gradient(rgb(123, 255, 123), var(--clr-green));
        box-shadow: 0 0 8px 2px rgb(20, 255, 20);
    }
}

.available span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: radial-gradient(rgb(44, 226, 44), var(--clr-green));
    /* box-shadow: 0 0 5px 0 var(--clr-green); */
    border-radius: 50%;
    margin-right: 6px;
    animation: light 2s ease 2s infinite;
}

/* main ================  */
main{
    margin-top: 100px;
    /* margin-bottom: 100px; */
    display: flex;
    flex-direction: column;
    align-items: start;

}

main p{
    color: var(--clr-txt);
    margin: 3rem 0;
}

main .contact-container{
    justify-content: start;
}

main .contact-container .contact-item p{
display:  none;
}

main .contact-container .contact-item{
    height: 35px;
    width: 35px;
}

/* STOCK TICKER  */
.stock-ticker{
    font-size: 15px;
    padding-block: 8px;
    border-block: 1px solid;
    display: flex;
    gap: var(--gap);
    overflow: hidden;
    user-select: none;
    margin-top: 100px;
    margin-bottom: 150px;
}

.stock-ticker ul{
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    justify-content: space-between;
    gap: var(--gap);
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/* Projects ================= */
.projects-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    border: var(--border-1);
    border-radius: var(--br-1);
    gap: 0.5rem;
    padding: 1rem;
    width: 289px;
    height: 420px;
}

.project:nth-of-type(1){
    border-top: 4px solid #ff595e;
}
.project:nth-of-type(2){
    border-top: 4px solid #ffca3a;
}
.project:nth-of-type(3){
    border-top: 4px solid #8ac926;
}
.project:nth-of-type(4){
    border-top: 4px solid #1982c4;
}
.project:nth-of-type(5){
    border-top: 4px solid #6a4c93;
}
.project:nth-of-type(6){
    border-top: 4px solid #ff595e;
}

.project:hover{
    transform: scale(1.005);
    box-shadow: var(--bx-1);
}

.p-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--clr-light);
    box-shadow: var(--bx-1);
    overflow: hidden;
}

.project p{
    text-align: center;
}


.tag{
    border: 1px solid #11212dbd;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border-radius: 5px;
    padding: 0 5px;
}

.tool{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin-top: 5px;
}

/* Articles ======  */
.article-section{
    margin-top: 6rem;
    margin-bottom: 6rem;
    
}
.article-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1.5rem;
    margin: 2rem 0;
}

.view-more{
    display: inline-block;
}
.view-more:hover{
    color: var(--clr-higlight);
    transform: translateX(3px);
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 0.7rem;
    padding: 1rem 2rem;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: var(--br-1);
}

.article:hover{
    border: var(--border-1);
    box-shadow: var(--bx-2);
    transform: translate(2px);
}
.link-img{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 5px;
}

.date{
    margin-left: 1rem;
    color: var(--clr-grey);
    font-size: 12px;
}

.article p:nth-of-type(3){
    opacity: 0.9;
}

.article-link{
    font-weight: 500;
    font-size: 12px;
}

/* Contact =================  */
.contact-section .contact-container{
    height: 50vh;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
}

.contact-container .contact-item{
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    color: var(--clr-grey);
    height: 50px;
    width: 50px;
}

.contact-item:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

/* footer ==============  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: var(--border-1);
    color: var(--clr-grey);
    margin-bottom: 0 auto;
    padding-top: 2rem;
}


/* PROJECT PAGE  */
.cs-section{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.cs-block{
    place-content: start;
    min-width: 100%;
    min-height: 20px;
}

.cs-block p{
    font-size: 15px;
    margin: 5px 0;

}

.cs-block .cs-sub-title{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.data-viz{
    height: 200px;
    /* width: 350px; */
    background-color: grey;
    border-radius: 10px;
    overflow:hidden ;
    box-shadow: var(--bx-1);
}

/* MEDIA QUERIES  */
@media (max-width: 689px){

    nav,
    main,
    section{
        padding: 1.5rem 0.5rem;
    }

    /* nav  */
    .nav-icon{
        height: 45px;
        width: 45px;
    }

    .available{
        border: none;
    }

    /* main  */
    h1{
        font-size: 30px;
    }

    /* project  */

    .project-section{
        justify-content: center;
    }

    .projects-container{
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 2rem 0;
    }

    /* article  */
    .article{
        padding: 0.5rem;
        border-radius: 8px;
    }

    .article-title{
        font-size: 15px;
    }

    /* contact  */
    .contact-container{
        gap: 1.5rem;
    }
}